{% extends "auctions/layout.html" %}
{% load cart_tag %}

{% block body %}

<div class="view-container">
<div class="shopping-cart container">

{% if message %}
    <div class="title shopping-content">
      {{ message }}
    </div>
{% else %}

    <!-- Tytuł aukcji-->
    <div class="title shopping-content">
      Koszyk
      {% if length != 0 %}
            <span class="badge badge-secondary">{{request.session.cart|length}}</span>
      {% endif %}
    </div>

    {% for key,value in request.session.cart.items %}

    <!-- Produkt -->
    <div class="item" >
      <div class="buttons" id="column1">
        <span class="delete-btn"> 
          <a href="{% url 'item_clear' value.product_id %}" type="submit" role="button" class="btn">
            <i class="fa fa-trash"></i>
          </a>
        </span>
      </div>
   
      <div class="image" id="column2">
        <img src="{{ value.image }}" alt="" style="width: 100px; height: 100px; margin: 0;"/>
      </div>
   
      <div class="description" id="column3">
        <a href="{% url 'listingpage' value.product_id %}">
          <span >{{ value.name }}</span>
        </a>
      </div>

      <div class="total-price" id="column4s">{{ value.price }} zł</div>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}

